@import "tailwindcss";

*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* active NavLink */
.active {
  border: solid 1px rgba(222, 222, 222, 0.462);
  border-radius: 50px;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

/* for custom scrollbar in shop */
/* Minimal visible scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px; /* make it slim */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* no background */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* light thumb */
  border-radius: 9999px;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
